In [140]:
import numpy as np
import pandas as pd
from numpy.random import randn 
print('Hello, World!')

Hello, World!

In [8]:
data = np.array([[0.9526,-0.2460,-0.8856],[0.5639,0.2379,0.9104]])
data

array([[ 0.9526, -0.246 , -0.8856],
       [ 0.5639,  0.2379,  0.9104]])

In [10]:
print(data * 10)
print(data + data)

[[ 9.526 -2.46  -8.856]
 [ 5.639  2.379  9.104]]
[[ 1.9052 -0.492  -1.7712]
 [ 1.1278  0.4758  1.8208]]

In [12]:
data.shape

(2, 3)

In [13]:
data.dtype

dtype('float64')

In [14]:
data1 = [6, 7.5, 8, 0, 1]
array1 = np.array(data1)
array1

array([ 6. ,  7.5,  8. ,  0. ,  1. ])

In [15]:
data2 = [[1,2,3,4],[5,6,7,8]]
array2 = np.array(data2)
array2

array([[1, 2, 3, 4],
       [5, 6, 7, 8]])

In [16]:
array2.ndim

2

In [18]:
array2.shape

(2, 4)

In [19]:
array1.dtype

dtype('float64')

In [20]:
array2.dtype

dtype('int64')

In [24]:
np.zeros(13)

array([ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.])

In [25]:
(3,6)

(3, 6)

In [26]:
np.zeros((3,6))

array([[ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.]])

In [27]:
np.empty((2,3,2))

array([[[ -2.31584178e+077,   2.00389884e+000],
        [  2.96439388e-323,   0.00000000e+000],
        [  2.12199579e-314,   5.74084271e+169]],

       [[  6.81399446e-091,   3.85589011e-057],
        [  8.40421358e+164,   7.45958567e-038],
        [  3.99910963e+252,   8.34404862e-309]]])

In [29]:
np.arange(15)

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14])

In [30]:
np.identity(7)

array([[ 1.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  1.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  1.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  1.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  1.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  1.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  1.]])

In [32]:
array1 = np.array([1,2,3])
array1

array([1, 2, 3])

In [33]:
array1.dtype

dtype('int64')

In [34]:
array1 = np.array([1,2,3],dtype=np.float64)
array1

array([ 1.,  2.,  3.])

In [35]:
array1.dtype

dtype('float64')

In [36]:
array1 = np.array([1,2,3],dtype=np.int32)
array1

array([1, 2, 3], dtype=int32)

In [37]:
array1.dtype

dtype('int32')

In [39]:
myArray = np.array([1,2,3,4,5])
myArray

array([1, 2, 3, 4, 5])

In [40]:
myArray.dtype

dtype('int64')

In [42]:
myArrayFloat = myArray.astype(np.float64)
myArrayFloat

array([ 1.,  2.,  3.,  4.,  5.])

In [43]:
myArrayFloat.dtype

dtype('float64')

In [45]:
myArray = np.array([3.71,-1.22,-2.63,0.54,12.96,10.17])
myArray

array([  3.71,  -1.22,  -2.63,   0.54,  12.96,  10.17])

In [46]:
myArray.astype(np.int64)

array([ 3, -1, -2,  0, 12, 10])

In [53]:
myArray = np.array(['1.25','-9.6','42'],dtype=np.string_)
myArray.dtype

dtype('S4')

In [54]:
myArray.astype(np.float64)

array([  1.25,  -9.6 ,  42.  ])

In [55]:
myArray.astype(np.float64).dtype

dtype('float64')

In [56]:
myArray = np.array([[1.,2.,3.],[4.,5.,6.]])
myArray

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

In [58]:
myArray ** 2

array([[  1.,   4.,   9.],
       [ 16.,  25.,  36.]])

In [59]:
myArray * myArray

array([[  1.,   4.,   9.],
       [ 16.,  25.,  36.]])

In [60]:
myArray ** myArray

array([[  1.00000000e+00,   4.00000000e+00,   2.70000000e+01],
       [  2.56000000e+02,   3.12500000e+03,   4.66560000e+04]])

In [62]:
myArray - myArray

array([[ 0.,  0.,  0.],
       [ 0.,  0.,  0.]])

In [63]:
1 / myArray

array([[ 1.        ,  0.5       ,  0.33333333],
       [ 0.25      ,  0.2       ,  0.16666667]])

In [64]:
(myArray ** 2) ** (0.5)

array([[ 1.,  2.,  3.],
       [ 4.,  5.,  6.]])

In [65]:
myArray = np.arange(10)
myArray

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [66]:
myArray[5]

5

In [67]:
myArray[5:8]

array([5, 6, 7])

In [68]:
myArray[5:8].dtype

dtype('int64')

In [70]:
myArray[5:8].shape

(3,)

In [71]:
myArray[5:8] = -17
myArray

array([  0,   1,   2,   3,   4, -17, -17, -17,   8,   9])

In [72]:
subArray = myArray[5:8]
subArray[1] = 12345
myArray

array([    0,     1,     2,     3,     4,   -17, 12345,   -17,     8,     9])

In [73]:
subArray[:] = 7654
myArray

array([   0,    1,    2,    3,    4, 7654, 7654, 7654,    8,    9])

In [75]:
myTuple = (9,8,7,6)
myTuple

(9, 8, 7, 6)

In [76]:
mySet = {9,8,7,6}
mySet

{6, 7, 8, 9}

In [81]:
myTuple = ([1, 2, 3], [3, 2, 1])
myTuple

([1, 2, 3], [3, 2, 1])

In [83]:
myTuple[0]

[1, 2, 3]

In [87]:
myTuple[0][1] = -1
myTuple

([1, -1, 3], [3, 2, 1])

In [91]:
arr2d = np.array([[1,2,3],[4,5,6],[7,8,9]])
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [94]:
arr2d[2,]

array([7, 8, 9])

In [99]:
arr2d[:,2]

array([3, 6, 9])

In [100]:
arr3d = np.array([[[1,2,3],[4,5,6]],[[7,8,9],[10,11,12]]])
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [101]:
arr3d[0]

array([[1, 2, 3],
       [4, 5, 6]])

In [102]:
arr3d[1]

array([[ 7,  8,  9],
       [10, 11, 12]])

In [103]:
arr3d[0,:,:]

array([[1, 2, 3],
       [4, 5, 6]])

In [104]:
arr3d[0,:,1]

array([2, 5])

In [105]:
myArray

array([   0,    1,    2,    3,    4, 7654, 7654, 7654,    8,    9])

In [106]:
myArray[1:6]

array([   1,    2,    3,    4, 7654])

In [113]:
arr2d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [133]:
arr2d[:,2:]

array([[3],
       [6],
       [9]])

In [134]:
arr3d

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]]])

In [135]:
arr3d.swapaxes(1,2)

array([[[ 1,  4],
        [ 2,  5],
        [ 3,  6]],

       [[ 7, 10],
        [ 8, 11],
        [ 9, 12]]])

In [136]:
arr3d.swapaxes(0,1)

array([[[ 1,  2,  3],
        [ 7,  8,  9]],

       [[ 4,  5,  6],
        [10, 11, 12]]])

In [137]:
arr3d.swapaxes(0,2)

array([[[ 1,  7],
        [ 4, 10]],

       [[ 2,  8],
        [ 5, 11]],

       [[ 3,  9],
        [ 6, 12]]])

In [141]:
myArray = randn(7) * 5
myArray

array([ 1.02784921, -3.04006453,  1.53276005, -9.41387237, -4.08205738,
       -2.48368809, -1.8034464 ])

In [144]:
np.modf(myArray)

(array([ 0.02784921, -0.04006453,  0.53276005, -0.41387237, -0.08205738,
        -0.48368809, -0.8034464 ]), array([ 1., -3.,  1., -9., -4., -2., -1.]))