In [62]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [63]:
myObj = Series([4,7,-5,3]); myObj

0    4
1    7
2   -5
3    3
dtype: int64

In [64]:
print(myObj.index)
print(myObj.values)

RangeIndex(start=0, stop=4, step=1)
[ 4  7 -5  3]

In [65]:
myObj2 = Series([4, 7, -5, 3], index=['d', 'b', 'a', 'c']);
print(myObj2.index)
print(myObj2)

Index(['d', 'b', 'a', 'c'], dtype='object')
d    4
b    7
a   -5
c    3
dtype: int64

In [66]:
myObj2["a"]

-5

In [67]:
myObj2[['c','a']]

c    3
a   -5
dtype: int64

In [68]:
myObj2[myObj2>0]

d    4
b    7
c    3
dtype: int64

In [69]:
myObj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [70]:
np.exp(myObj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

In [71]:
myDict = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
myObj3 = Series(myDict)
print(type(myObj3))
print(myObj3)

<class 'pandas.core.series.Series'>
Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64

In [72]:
myStates = ['Texas','Oregon','Ohio','California'];
type(myStates)

list

In [73]:
myObj4 = Series(data=myDict,index=myStates)
print(myObj4)

Texas         71000.0
Oregon        16000.0
Ohio          35000.0
California        NaN
dtype: float64

In [74]:
pd.isnull(myObj4)

Texas         False
Oregon        False
Ohio          False
California     True
dtype: bool

In [75]:
pd.notnull(myObj4)

Texas          True
Oregon         True
Ohio           True
California    False
dtype: bool

In [76]:
myObj4.isnull()

Texas         False
Oregon        False
Ohio          False
California     True
dtype: bool

In [77]:
myObj4.notnull()

Texas          True
Oregon         True
Ohio           True
California    False
dtype: bool

In [78]:
print(myObj3)
print(myObj4)
print(myObj3 + myObj4)

Ohio      35000
Oregon    16000
Texas     71000
Utah       5000
dtype: int64
Texas         71000.0
Oregon        16000.0
Ohio          35000.0
California        NaN
dtype: float64
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [79]:
print(myObj4.name)
myObj4.name = 'population'
print(myObj4.name)

None
population

In [80]:
print(myObj4.index.name)
myObj4.index.name = 'state'
print(myObj4.index.name)

None
state

In [81]:
print(myObj4)
print(myObj4.index)

state
Texas         71000.0
Oregon        16000.0
Ohio          35000.0
California        NaN
Name: population, dtype: float64
Index(['Texas', 'Oregon', 'Ohio', 'California'], dtype='object', name='state')

In [82]:
dataDict = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year' : [2000, 2001, 2002, 2001, 2002],
    'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9]
}
myDF = DataFrame(
    data    = dataDict,
    index   = ['r1','r2','r3','r4','r5'],
    columns = ['year', 'state', 'pop']
)
myDF

    year   state  pop
r1  2000    Ohio  1.5
r2  2001    Ohio  1.7
r3  2002    Ohio  3.6
r4  2001  Nevada  2.4
r5  2002  Nevada  2.9

In [83]:
print(myDF.index)
print(myDF.columns)

Index(['r1', 'r2', 'r3', 'r4', 'r5'], dtype='object')
Index(['year', 'state', 'pop'], dtype='object')

In [84]:
print(myDF.year)
print(myDF['year'])

r1    2000
r2    2001
r3    2002
r4    2001
r5    2002
Name: year, dtype: int64
r1    2000
r2    2001
r3    2002
r4    2001
r5    2002
Name: year, dtype: int64

In [85]:
print(myDF.loc['r3'])
print(myDF.loc['r3',])
print(myDF.loc['r3',:])

year     2002
state    Ohio
pop       3.6
Name: r3, dtype: object
year     2002
state    Ohio
pop       3.6
Name: r3, dtype: object
year     2002
state    Ohio
pop       3.6
Name: r3, dtype: object

In [86]:
myDF[myDF['state']=='Ohio']

    year state  pop
r1  2000  Ohio  1.5
r2  2001  Ohio  1.7
r3  2002  Ohio  3.6

In [87]:
print(myDF.iloc[1,])

year     2001
state    Ohio
pop       1.7
Name: r2, dtype: object

In [88]:
dataDict = {
    'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
    'year' : [2000, 2001, 2002, 2001, 2002],
    'pop'  : [1.5, 1.7, 3.6, 2.4, 2.9]
}
myDF = DataFrame(
    data    = dataDict,
    index   = ['r1','r2','r3','r4','r5'],
    columns = ['year', 'state', 'pop']
)
print(myDF)
for i in range(0,myDF.shape[0]):
    print("\ni = " + str(i))
    print('year  = ' + str(myDF.iloc[i]['year']))
    print('state = ' + str(myDF.iloc[i]['state']))
    print('pop   = ' + str(myDF.iloc[i]['pop']))

    year   state  pop
r1  2000    Ohio  1.5
r2  2001    Ohio  1.7
r3  2002    Ohio  3.6
r4  2001  Nevada  2.4
r5  2002  Nevada  2.9

i = 0
year  = 2000
state = Ohio
pop   = 1.5

i = 1
year  = 2001
state = Ohio
pop   = 1.7

i = 2
year  = 2002
state = Ohio
pop   = 3.6

i = 3
year  = 2001
state = Nevada
pop   = 2.4

i = 4
year  = 2002
state = Nevada
pop   = 2.9